* {
  text-decoration: none !important;
}

.primary-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}

.secondary-text {
  font-family: 'Roboto', sans-serif;
}

.form-item {
  font-size: 20px;
}

body {
  background-color: rgb(95, 99, 114);
}

.fa-solid, .sign-in-button {
  transform: scale(1.5);
}

.alert {
  text-align: center;
  font-size: 30px;
  width: 500px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -20%);
}

.password-fa {
  position: relative;
  left: 5%;
  cursor: pointer;
}

.dropdown::after {
  content: none;
}

.dropdown-item:hover {
  background: rgba(136, 136, 223, 0.32);
}